<div id="couponModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">赠送优惠卷</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-2">
                        <div class="line-h34">用户ID:</div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <input  type="text" class="form-control" ng-model="couponModel.userID" placeholder="请输入用户ID" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="couponSubmit(couponModel.userID)">提交</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->