<div class="com_top">
    <div class="com_top_lf"><i class=" md-apps"></i> 退货申请</div>
    <div class="com_top_rg"><a class="btn btn-default" ng-click="refundBack()"> 返回</a></div>
</div>

<div class="card-box m-g-t-20">
    <div class="fix m-g-t-10" style="height:34px; line-height: 34px;">
        <div class="lt" style="width: 100px;">退货理由：</div>
        <div class="lt" ng-bind="refundInfoModel.reasonCopy"></div>
    </div>
    <div class="fix m-g-t-20" style="height:34px; line-height: 34px;">
        <div class="lt" style="width: 100px;">退货金额：</div>
        <div class="lt" ng-bind="refundInfoModel.valueCopy"></div>
    </div>
    <div class="fix m-g-t-20" style="height:34px; line-height: 34px;">
        <div class="lt" style="width: 100px;">备注描述：</div>
        <div class="lt" ng-bind="refundInfoModel.descCopy"></div>
    </div>
    <div class="fix m-g-t-20" style="height:350px; line-height: 34px;" ng-show="refundInfoModel.imageCopy2 == 1">
        <div class="lt" style="width: 100px;">图片：</div>
        <div class="lt" style="width:700px;"><img width="700" height="350" ng-src={{refundInfoModel.imageCopy}}></div>
    </div>
    <div class="fix m-g-t-20" style="height:34px; line-height: 34px; margin-bottom: 50px;">
        <div class="lt" style="width: 100px; height: 34px;"></div>
        <div class="lt">
            <a class="btn btn-default" ng-click="agreeRefund()">{{refundInfoModel.typeCopy == 1? "同意申请" : "同意退款"}}</a>
            <a style="margin-left: 50px;" class="btn btn-warning" ng-click="refuseRefund()">驳回</a>
            <a style="margin-left: 60px;" class="btn btn-default" ng-click="refundBack()">暂不处理</a>
        </div>
    </div>



</div>