<div class="com_top">
    <div class="com_top_lf"><i class=" md-apps"></i> 商品发布</div>
    <div class="com_top_rg"><a class="btn btn-default" ng-click="onClickPostGoods()"><i class="md-add"></i> 发布</a></div>
</div>

<!--商品分类设置，设置SKU标题/s-->
<div class="post-goods-type-top">
    <div class="post-goods-title">商品分类</div>
    <div class="post-left">
        <div class="post-left-top">
            <div class="first-name">
                <div class="first-name-txt">一级标题命名</div>
                <div class="first-name-input"><input /></div>
            </div>
            <div class="first-btn"></div>
        </div>
    </div>

    <div class="post-right">
        <div class="post-right-top">
            <div class="second-name">
                <div class="second-name-txt">一级标题命名</div>
                <div class="second-name-input"><input /></div>
            </div>
            <div class="second-btn"></div>
        </div>
    </div>
</div>
<!--商品分类设置，设置SKU标题/e-->

<!--商品分类设置，填写部分/s-->
<div class="post-goods-type-body">
    <div class="post-left-body">
        <div></div>
    </div>

    <div class="post-right-body">
        <div></div>
    </div>
</div>
<!--商品分类设置，填写部分/e-->